body{
text-align: center;
}
.line{
height: 6px;
width: 70px;
margin: 8px auto;
background-color: black;
}
#Apps{
width: 100%;
    height: 800px;
    background-color: crimson;
}
#Chatbot{
width: 100%;
    height: 800px;
    background-color: navy;
}
#Gamess{
width: 100%;
    height: 800px;
    background-color: teal;
}
img{
transition:transform .2s;
}
img:hover{
transform: scale(0.9);
}